<!-- FILEPATH: /Users/samuelmayle/tinkerforchange/templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Box Display</title>
    <style>
        .box {
            width: 200px;
            height: 200px;
            border: 1px solid black;
            margin: 10px;
            padding: 10px;
        }
    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% for box in boxes %}
        <form method=post action=/donate class="box">
            <input type="hidden" id="id" readonly=true value={{box['request_id']}}>
            <h3>{{ box['item'] }}</h3>
            <p>{{ box['value']}}</p>
            <p>{{ box['request_date'] }}</p>
            
            <input type="number" value=1 name='amount' id='amount'>
            <input type=submit name=donate value="Donate"></button>
        </form>
    {% endfor %}
</body>
</html>
