<!DOCTYPE html>
// Login page

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMF Login</title>
</head>
<body style="background-color: #D7F2F9;">
   <form id="loginForm" action="index.html" method="GET">
       <label for="email">Email:</label>
       <input type="text" id="email" name="email" required>
       <button type="submit">Login</button>
   </form>
</body>
</html>
   <script>
       const loginForm = document.getElementById("loginForm");
       loginForm.addEventListener("submit", (event) => {
           event.preventDefault();
           const email = document.getElementById("email").value;
           fetch('/submit_email', {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json'
               },
               body: JSON.stringify({ email: email })
           })
           .then(response => {
               if (response.ok) {
                   window.location.href = "index.html";
               } else {
                   console.error('Error submitting email:', response.status);
               }
           })
           .catch(error => {
               console.error('Error submitting email:', error);
           });
       });
   </script>
